# Node.js
node_modules/
dist/
dist-ssr/
*.local
.npm/

# Java & Maven
target/
*.class
*.jar
*.war
*.ear
*.nar
.project
.classpath
.settings/
.idea/
*.iml
.vscode/

# Logs and OS files
*.log
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example
